body {
  background-color: #bfe3dd;
  color: #000;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
}

.menu {
  position: fixed;
  display: flex;
  bottom: 0;
  z-index: 0;
}

.menu-main {
  background-color: white;
  align-content: center;
  display: flex;
  flex-direction: row;
}

.menu-main-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-main-thumbnails {
  display: flex;
  flex-direction: column;
}

.menu-main-thumbnails-furniture-selection {
  display: flex;
  flex-direction: row;
}

.menu-main-thumbnails-uphostery-selection {
  display: flex;
  flex-direction: row;
}

.menu-main-thumbnails-wood-selection {
  display: flex;
  flex-direction: row;
}

.menu-main-thumbnails-rug-selection {
  display: flex;
  flex-direction: row;
}

img {
  margin: 10px;
  border-radius: 4px;
}
